<main class="page">
    <div class="container">
      <div class="gallery">
        <ul class="cards-set">
          <li class="card">
            <div class="card__thumb">
              <img src="" alt="">
            </div>
            <div class="card__content info">
              <ul class="info__list">
                <li class="info__item">
                  <svg class="icon" width="20" height="20">
                    <!-- <use xlink:href="./images/icons/icons.svg#twitter"></use> -->
                  </svg>
                  <span class="info__text"></span>
                </li>

                <li class="info__item">
                  <svg class="icon" width="20" height="20">
                    <!-- <use xlink:href="./images/icons/icons.svg#twitter"></use> -->
                  </svg>
                  <span class="info__text"></span>
                </li>

                <li class="info__item">
                  <svg class="icon" width="20" height="20">
                    <!-- <use xlink:href="./images/icons/icons.svg#twitter"></use> -->
                  </svg>
                  <span class="info__text"></span>
                </li>

                <li class="info__item">
                  <svg class="icon" width="20" height="20">
                    <!-- <use xlink:href="./images/icons/icons.svg#twitter"></use> -->
                  </svg>
                  <span class="info__text"></span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </main>