
ul {
  list-style: none;
  margin: 0;
  
  padding: 0;
}
.gallery{
  margin-top: 80px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
}

.item {
  display: flex;
  flex-direction: column;

  flex-basis: calc(100% / 4 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-thumb img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-info {
  display: flex;
  justify-content: space-around;

  background: #22303c;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 10px;

  color: #8899a6;
}
